/* input 字体 */
@font-face {
  font-family: 'Input';
  src: url('/fonts/input.woff2') format('woff2');
  display: swap;
}

.font-input, [font-input] {
  font-family: 'Input';
}

:root {
  @apply scroll-smooth;
}

body {
  @apply overflow-x-hidden;
}

/* 视图过渡 */
::view-transition-old(root),
::view-transition-new(root) {
  @apply animate-none mix-blend-normal;
}

::view-transition-old(root) {
  @apply z-1;
}
::view-transition-new(root) {
  @apply z-9999;
}
.dark::view-transition-old(root) {
  @apply z-9999;
}
.dark::view-transition-new(root) {
  @apply z-1;
}

/* 滚动条 */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-neutral-2 dark:bg-neutral-9 transition-colors;
}

::-webkit-scrollbar-corner {
  @apply appearance-none;
}

/* 进度条 */
#nprogress .bar {
  @apply bg-emerald;
}

/* magic links author: @antfu */
.markdown-magic-link {
  @apply font-mono inline-flex items-center gap-x-1 transition-colors duration-300 hover:bg-neutral/30 text;
}

/* 链接图片 */
.markdown-magic-link-image {
  @apply s-6 block bg-cover bg-no-repeat;
}

/* github @user */
.markdown-magic-link-github-at {
  @apply pr-2 lowercase rounded-full v-bottom;
}

.markdown-magic-link-github-at .markdown-magic-link-image {
  @apply rounded-full;
}

/* link */
.markdown-magic-link-link {
  @apply px-1 py-px rounded v-bottom;
}

/* 如果用户没有减弱动画，添加入场动画>*/
@media (prefers-reduced-motion: no-preference) {
  html *:not(.no-sliding, [no-sliding]) [slide-enter],
  html *:not(.no-sliding, [no-sliding]) .slide-enter,
  /* 排除 table of contents>*/
  html *:not(.no-sliding, [no-sliding]) .slide-enter-content>*:not(:has(.table-of-contents)),
  html *:not(.no-sliding, [no-sliding]) [slide-enter-content]>*:not(:has(.table-of-contents)) {
    --enter-initial: 0ms;
    --enter-step: 90ms;
    --enter-stage: 0;
    opacity: 0;
    animation: slide-enter 1s ease 1 forwards;
    animation-delay: calc(var(--enter-initial) + var(--enter-step) * var(--enter-stage));
  }

  .slide-enter-content>*:nth-child(1),
  [slide-enter-content]>*:nth-child(1) {
    --enter-stage: 1 !important;
  }

  .slide-enter-content>*:nth-child(2),
  [slide-enter-content]>*:nth-child(2) {
    --enter-stage: 2 !important;
  }

  .slide-enter-content>*:nth-child(3),
  [slide-enter-content]>*:nth-child(3) {
    --enter-stage: 3 !important;
  }

  .slide-enter-content>*:nth-child(4),
  [slide-enter-content]>*:nth-child(4) {
    --enter-stage: 4 !important;
  }

  .slide-enter-content>*:nth-child(5),
  [slide-enter-content]>*:nth-child(5) {
    --enter-stage: 5 !important;
  }

  .slide-enter-content>*:nth-child(6),
  [slide-enter-content]>*:nth-child(6) {
    --enter-stage: 6 !important;
  }

  .slide-enter-content>*:nth-child(7),
  [slide-enter-content]>*:nth-child(7) {
    --enter-stage: 7 !important;
  }

  .slide-enter-content>*:nth-child(8),
  [slide-enter-content]>*:nth-child(8) {
    --enter-stage: 8 !important;
  }

  .slide-enter-content>*:nth-child(9),
  [slide-enter-content]>*:nth-child(9) {
    --enter-stage: 9 !important;
  }

  .slide-enter-content>*:nth-child(10),
  [slide-enter-content]>*:nth-child(10) {
    --enter-stage: 10 !important;
  }

  .slide-enter-content>*:nth-child(11),
  [slide-enter-content]>*:nth-child(11) {
    --enter-stage: 11 !important;
  }

  .slide-enter-content>*:nth-child(12),
  [slide-enter-content]>*:nth-child(12) {
    --enter-stage: 12 !important;
  }

  .slide-enter-content>*:nth-child(13),
  [slide-enter-content]>*:nth-child(13) {
    --enter-stage: 13 !important;
  }

  .slide-enter-content>*:nth-child(14),
  [slide-enter-content]>*:nth-child(14) {
    --enter-stage: 14 !important;
  }

  .slide-enter-content>*:nth-child(15),
  [slide-enter-content]>*:nth-child(15) {
    --enter-stage: 15 !important;
  }

  .slide-enter-content>*:nth-child(16),
  [slide-enter-content]>*:nth-child(16) {
    --enter-stage: 16 !important;
  }

  .slide-enter-content>*:nth-child(17),
  [slide-enter-content]>*:nth-child(17) {
    --enter-stage: 17 !important;
  }

  .slide-enter-content>*:nth-child(18),
  [slide-enter-content]>*:nth-child(18) {
    --enter-stage: 18 !important;
  }

  .slide-enter-content>*:nth-child(19),
  [slide-enter-content]>*:nth-child(19) {
    --enter-stage: 19 !important;
  }

  .slide-enter-content>*:nth-child(20),
  [slide-enter-content]>*:nth-child(20) {
    --enter-stage: 20 !important;
  }

  @keyframes slide-enter {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}