.prose {
  @apply mt-4 space-y-4;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply font-bold;
}

.prose :is(h1, h2, h3, h4, h5, h6) .anchor {
  @apply hidden lg:inline-block opacity-0 transition-opacity;
}

.prose :is(h1, h2, h3, h4, h5, h6):hover .anchor {
  @apply opacity-100;
}

.prose p + :is(ol, ul) {
  @apply ml-4;
}

.prose ul ol,
.prose ol ul {
  @apply ml-4 mt-4;
}

.prose :is(p, blockquote, ul, ol, li, em, s) {
  @apply text-neutral-500 text-pretty;
}

.prose :is(strong) {
  @apply text-black dark:text-white;
}

.prose :is(p, blockquote, ul, ol, li, strong, em, s)::selection {
  @apply bg-black dark:(bg-white text-black) text-white;
}

/* 标题 */
.prose h1 {
  @apply text-2xl mt-12! mb-6! lg:-ml-7;
}

.prose h2 {
  @apply text-xl mt-11! mb-5! lg:-ml-6;
}

.prose h3 {
  @apply text-lg mt-10! mb-4! lg:-ml-5;
}

.prose h4 {
  @apply text-base mt-9! mb-3! lg:-ml-4;
}

.prose h5 {
  @apply text-sm mt-8! mb-2! lg:-ml-3;
}

.prose h6 {
  @apply text-xs mt-7! mb-1! lg:-ml-2;
}

/* 段落 */
.prose p {
  @apply tracking-widest leading-relaxed;
  /* 行内代码 */
}

.prose p code,
.prose li code {
  @apply before:content-['`'] after:content-['`'] font-bold text-black dark:text-white;
  font-family: 'Input';
}

/* 链接 */
.prose a {
  @apply hover:underline mx-0.5 text-black dark:text-white;
}

/* 图片 */
.prose img {
  @apply object-cover cursor-pointer;
}

/* 引文 */
.prose blockquote {
  @apply space-y-4 inline-block bg-neutral/20 border-l-4 border-neutral-500 pl-4 pr-2 py-2;
}

.prose blockquote p {
  @apply text-stone;
}

/* 表格 */
.prose table {
  @apply w-full text-center border;
}

.prose table th,
.prose table td {
  @apply border p-2;
}

/* 无序列表 */
.prose ul {
  @apply space-y-2 list-disc-inside;
}

.prose ul ul {
  @apply ml-6 mt-4 list-circle-inside;
}

/* 有序列表 */
.prose ol {
  @apply space-y-4 list-decimal-inside;
}

.prose ol ol {
  @apply ml-6 mt-4 list-alpha-inside;
}

/* TOC */
.prose .table-of-contents {
  @apply hidden fixed w-1/5 top-20 left-2 lg:block;
}

.prose .table-of-contents ul {
  @apply my-0 space-y-none text-sm transition-opacity opacity-0 list-none;
}

.table-of-contents ul li > a {
  @apply hover:(text-black underline) dark:hover:text-white;
}

.table-of-contents:hover ul {
  @apply opacity-100;
}

.prose .table-of-contents .table-of-contents-anchor {
  @apply block;
}

.table-of-contents-anchor span {
  @apply i-ri-menu-2-fill cursor-pointer dark:hover:text-white hover:text-black transition-colors;
}

.prose .markdown-alert ul,
.prose .markdown-alert ol {
  @apply space-y-none;
}

.prose .markdown-alert ul li,
.prose .markdown-alert ol li {
  @apply dark:text-white text-black;
}

.prose .markdown-alert > .markdown-alert-title + p {
  @apply mt-2 dark:text-white text-black leading-normal;
}

.prose .markdown-magic-link.markdown-magic-link-github-at {
  @apply pr-2 h-6 m-0 v-bottom inline-flex items-center gap-x-1 lowercase rounded-full transition-colors duration-300 dark:hover:bg-neutral-7 hover:(bg-neutral-2 no-underline) no-underline;
}

.markdown-magic-link .markdown-magic-link-image {
  @apply bg-cover w-6 h-6 rounded-full inline-block;
}

.markdown-alert-note {
  background-color: #0969da33;
}

.markdown-alert-tip {
  background-color: #1a7f3733;
}

.markdown-alert-important {
  background-color: #8250df33;
}

.markdown-alert-caution {
  background-color: #d1242f33;
}

.markdown-alert-warning {
  background-color: #9a670033;
}