/* 文章样式表 */
.prose {
  @apply mt-4 space-y-4;
}

.prose hr {
  @apply my-2;
}

.prose summary {
  @apply mb-2 font-bold;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply font-bold;
}

.prose :is(h1, h2, h3, h4, h5, h6) .anchor {
  @apply hidden lg:inline-block opacity-0 transition-opacity;
}

.prose :is(h1, h2, h3, h4, h5, h6):hover .anchor {
  @apply opacity-100;
}

.prose :is(p, blockquote, ul, ol, li, em, s) {
  @apply text-neutral-500 text-pretty;
}

.prose :is(strong) {
  @apply mx-0.5 text-black dark:text-white;
}

.prose :is(p, blockquote, ul, ol, li, strong, em, s)::selection {
  @apply bg-black dark:(bg-white text-black) text-white;
}

/* 键盘 */
.prose kbd {
  @apply mx-0.5 border border-black bg-neutral-200 text-black dark:(bg-neutral-800 text-white border-white) rounded py-0.5 px-1 font-mono;
}

/* 标题 */
.prose h1 {
  @apply text-2xl mt-12! mb-6! lg:-ml-7;
}

.prose h2 {
  @apply text-xl mt-11! mb-5! lg:-ml-6;
}

.prose h3 {
  @apply text-lg mt-10! mb-4! lg:-ml-5;
}

.prose h4 {
  @apply text-base mt-9! mb-3! lg:-ml-4;
}

.prose h5 {
  @apply text-sm mt-8! mb-2! lg:-ml-3;
}

.prose h6 {
  @apply text-xs mt-7! mb-1! lg:-ml-2;
}

/* 段落 */
.prose p {
  @apply tracking-widest leading-relaxed;
  /* 行内代码 */
}

.prose p code,
.prose li code {
  @apply before:content-['`'] after:content-['`'] font-bold text-black dark:text-white;
  font-family: 'Input';
}

/* 链接 */
.prose a:not(.markdown-magic-link, #map a) {
  @apply hover:underline mx-0.5 text-black dark:text-white;
}

/* 图片 */
.prose img {
  @apply object-cover cursor-pointer;
}

/* 引文 */
.prose blockquote {
  @apply space-y-4 inline-block bg-neutral/20 border-l-4 border-neutral-500 pl-4 pr-2 py-2;
}

.prose blockquote p {
  @apply text-stone;
}

/* 表格 */
.prose table {
  @apply w-full text-center border;
}

.prose table th {
  @apply bg-neutral-100 dark:bg-neutral-800;
}

.prose table th,
.prose table td {
  @apply border p-2;
}

.prose :is(ol, ul) {
  @apply ml-6 space-y-2;
}

/* 无序列表 */
.prose ul {
  @apply list-disc;
}

/* 无序列表子列表 */
.prose ul ul {
  @apply list-circle mt-2;
}

.prose ul ol {
  @apply list-alpha mt-2;
}

/* 有序列表 */
.prose ol {
  @apply list-decimal;
}

/* 有序列表子列表 */
.prose ol ol {
  @apply list-alpha mt-2;
}

.prose ol ul {
  @apply list-disc mt-2;
}

/* TOC */
.prose .table-of-contents {
  @apply hidden fixed w-1/5 top-20 left-2 lg:block;
}

.prose .table-of-contents ul {
  @apply my-0 space-y-none text-sm transition-opacity opacity-0 list-none;
}

.prose .table-of-contents > ul {
  @apply ml-0 h-96 overflow-y-auto overflow-x-hidden;
}

.prose .table-of-contents > ul::-webkit-scrollbar {
  @apply w-1;
}

.prose .table-of-contents ul li > a {
  @apply hover:(text-black underline) dark:hover:text-white;
}

.prose .table-of-contents:hover ul {
  @apply opacity-100;
}

.prose .table-of-contents .table-of-contents-anchor {
  @apply block;
}

.prose .table-of-contents-anchor span {
  @apply i-ri-menu-2-fill cursor-pointer dark:hover:text-white hover:text-black transition-colors;
}

.markdown-alert ul,
.markdown-alert ol {
  @apply space-y-none;
}

.markdown-alert ul li,
.markdown-alert ol li {
  @apply dark:text-white text-black;
}

.markdown-alert > .markdown-alert-title + p {
  @apply mt-2 dark:text-white text-black leading-normal;
}

.markdown-alert-note {
  background-color: #0969da33;
}

.markdown-alert-tip {
  background-color: #1a7f3733;
}

.markdown-alert-important {
  background-color: #8250df33;
}

.markdown-alert-caution {
  background-color: #d1242f33;
}

.markdown-alert-warning {
  background-color: #9a670033;
}