.shiki {
  @apply transition-colors text-sm p-2 lg:(text-base p-4) rounded-lg overflow-auto;
  font-family: 'Input';
}

.shiki span {
  @apply transition-colors;
}

.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

.twoslash .twoslash-error {
  padding-bottom: 3px !important;
}